#supportTicketTitle {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px
}

#form {
    margin: 0 auto;
    overflow: auto;
}
.form-item {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}