#listing-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    overflow: auto;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 1em;
    margin-top: 10px;
    opacity: 0.9;
}
#grid-list {

}
