#editForm {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
  margin-top: 1.5em;
}

.emailBox {
  border: 0pt;
}

#editButton {
  margin-top: 10px;
}

#AccountTitle {
  text-align: center;
  font-weight: bolder;
}
